@model IEnumerable<employee>
<br /><br />
<div class="pull-right">
    <div class="col-md-3">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit" id="search" name="search" onclick="search()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</div><br /><br />
<div class="container">
    <div id="alert-placeholder">

    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>                    
                    <label class="col-md-3 control-label">EMPID</label>
                </th>
                <th>                    
                    <label class="col-md-3 control-label">NAME</label>
                </th>
                <th>                   
                    <label class="control-label">Date Of Join</label>
                </th>
                <th>                   
                    <label class="col-md-3 control-label">Mobile</label>
                </th>
                <th>
                    <label class="col-md-3 control-label">Email</label>
                </th>
                <th>                    
                    <label class="col-md-3 control-label">Salary</label>
                </th>
                <th>
                    <label class="col-md-3 control-label">Designation</label>
                </th>
                <th>
                    <label class="col-md-3 control-label">Department</label>
                </th>
                <th><label class="col-md-3 control-label">Edit</label></th>               
                <th> <label class="col-md-3 control-label">Delete</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOJ)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MOBILE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SALARY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designations_master.DESIGNATION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.departments_master.DEPT_NAME)
                    </td>
                
                    <td>                        
                        <input type="button" class="btn btn-primary" onclick="edit(@item.ID)" value="Edit" /> 
                    </td> 
                     <td>
                         <input type="button" class="btn btn-danger" onclick="deleteemp(@item.ID)" value="Delete" />
                     </td>
                </tr>
            }
        </tbody>
    </table>
  
</div>
